<h1>Procesamiento de Datos a Gran Escala</h1>

**Profesor:** Jhon Corredor  
**Autor:** Sebastián Angulo Vergara  
**Fecha:** 04/11/2026  
**Ejercicio:** Practico bono

## CALENTAMIENTO:

#### MENOR DE DOS PARES: Escriba una función que devuelva el menor de dos números dados *si* ambos números son pares, pero devuelva el mayor si uno o ambos números son impares
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    #Colocar aqui la respuesta
   # El condicional evalúa si ambos números son pares utilizando el operador módulo (%).
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)   
     # Si ambos números son pares, retorna el menor de los dos.

In [2]:
# Revisión
lesser_of_two_evens(2,4)

2

In [3]:
# Revisión
lesser_of_two_evens(2,5)

5

#### GALLETAS DE ANIMALES: Escribir una función que toma una cadena de dos palabras y devuelve True si ambas palabras comienzan con la misma letra
    animal_crackers('Ciudad Calor') --> True
    animal_crackers('Lugar Frio') --> False

In [4]:
def animal_crackers(text):

  # Se hace uso del método split() para dividir la cadena de texto en una lista de palabras.
  palabras = text.split() 
  return palabras[0][0].lower() == palabras[1][0].lower()

In [5]:
# Revisión
animal_crackers('Ciudad Calor')

True

In [6]:
# Revisión
animal_crackers('Lugar Frio')

False

#### HACE VEINTE: dados dos enteros, devuelve True si la suma de los enteros es 20 o si uno de los enteros es 20. De lo contrario, devuelve False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
  # Verifica si alguno es 20 o si la suma es 20, utilizando el operador lógico 'or' para combinar las condiciones.
  return n1 == 20 or n2 == 20 or (n1 + n2) == 20

In [ ]:
# Revisión
makes_twenty(20,10)

True

In [ ]:
# Revisión
makes_twenty(2,3)

False

In [ ]:
makes_twenty(12,8)

True

# Nivel 1

#### MAYÚSCULAS: Escribir una función que haga mayúscula la primera y cuarta letra de una cadena de texto
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):

    return name[:3].capitalize() + name[3:].capitalize()
# La función old_macdonald() toma un nombre como entrada y devuelve una versión modificada del nombre, donde las primeras tres letras están en mayúscula y el resto de las letras también están en mayúscula.
# Se utiliza el método capitalize() para convertir las letras a mayúscula, y se concatenan las partes del nombre utilizando slicing para obtener las primeras tres letras y el resto del nombre.

In [ ]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### REVERSA: Dada una oración, retornar la misma oración pero en reversa

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: Revisar método .join()

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

Resultado de .join():

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

# Se define la función master_yoda() que toma una cadena de texto como entrada y devuelve una nueva cadena con las palabras en orden inverso.
# La función utiliza el método split() para dividir la cadena de texto en una lista de palabras, luego utiliza slicing [::-1] para invertir el orden de las palabras en la lista.

In [ ]:
# Revisión
master_yoda('I am home')

'home am I'

In [ ]:
# Revisión
master_yoda('We are ready')

'ready are We'

# Nivel 2

#### PROBLEMA 33: 

Dada una lista de enteros, retornar True si el arreglo tinene un  3  seguido por un  3 .

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):

    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

# Se define la función has_33() que toma una lista de números como entrada y verifica si hay dos números 3 consecutivos en la lista. La función recorre la lista utilizando un bucle for, comparando cada elemento con el siguiente.
# Si encuentra dos números 3 consecutivos, devuelve True. Si no encuentra ningún par de números 3 consecutivos después de recorrer toda la lista, devuelve False.

In [ ]:
# Revisión
has_33([1, 3, 3])

True

In [ ]:
# Revisión
has_33([1, 3, 1, 3])

False

In [ ]:
# Revisión
has_33([3, 1, 3])

False

#### REPLICADOR: Dada una cadena, devuelve una cadena donde por cada carácter en el original hay tres caracteres REPETIDOS
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):

    # Inicializamos una variable resultado para almacenar el resultado final.
    resultado = ""

    for letra in text:
        resultado += letra * 3
    return resultado

# Se define la función paper_doll() que toma una cadena de texto como entrada y devuelve una nueva cadena donde cada letra del texto original se repite tres veces.
# La función utiliza un bucle for para iterar sobre cada letra en la cadena de texto, y para cada letra, se agrega a la variable resultado la letra repetida tres veces. Finalmente, se devuelve la cadena resultante.

In [ ]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Dados tres enteros entre 1 y 11, si su suma es menor o igual a 21, devuelve su suma. Si su suma excede 21 *y* hay un once, reduce la suma total en 10. Finalmente, si la suma (incluso después del ajuste) excede 21, devuelve 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    suma = a + b + c
    
    # Si la suma es menor o igual a 21, se devuelve la suma.
    if suma <= 21:
        return suma
    
    if 11 in (a, b, c):
        suma -= 10  
    
    if suma > 21:
        return 'BUST'
    else:
        return suma
    # La función blackjack() toma tres números como entrada y devuelve la suma de los números si la suma es menor o igual a 21.
    # Si la suma es mayor que 21 y hay un 11 entre los números, se resta 10 de la suma. 
    # Si después de ajustar por el 11 la suma sigue siendo mayor que 21, se devuelve 'BUST'. De lo contrario, se devuelve la suma ajustada.

In [ ]:
# Revisión
blackjack(5,6,7)

18

In [ ]:
# Revisión
blackjack(9,9,9)

'BUST'

In [ ]:
# Revisión
blackjack(9,9,11)

19

## Suerte!